<?xml version="1.0"?>
<!--
  ~ /**
  ~  * Tinx-IT.
  ~  *
  ~  * NOTICE OF LICENSE
  ~  *
  ~  * This source file is subject to the EULA
  ~  * that is bundled with this package in the file LICENSE.txt.
  ~  *
  ~  * @category   TinxIT
  ~  * @package    TinxIT_ColorStatus
  ~  * @author     Extension Team
  ~  * @copyright  Copyright (c) 2021 Tinx-IT. ( http://www.tinx-it.com )
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="TinxIT_ColorStatus" setup_version="1.0.0">
    </module>
</config>
